[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ekaaty LiveUSB Creator
Comment=Ferramenta para criar discos LiveUSB
Icon=ekaatyusb.png
Exec=liveusb-creator
Terminal=false
Categories=System;
StartupNotify=true

